
/* Large devices optimized */

@media (min-width: 992px) {
    .p-lg-6 {
        padding: 4rem 6rem !important;
    }

    footer .container-sm>* {
        margin-left: 8rem !important;
        margin-right: 8rem !important;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    
    .navbar-dark {
        background-color: black;
        opacity: 0.70;
    }

    .nav-item .nav-link {
        font-size: 14pt;
        font-weight: 300;
    }

    .nav-item .nav-link:hover {
        color: white;
    }

    .container-lg {
        padding: var(--padding-lg-y) var(--padding-lg-x) !important;
    }

    .carousel-item {
        height: 36rem;
    }

    .carousel-body {
        position: relative;
        top: 35%;
        padding-left: 14rem;
        padding-right: 14rem;
        text-align: start;
    }

    .intro-text {
        text-align: start;
        font-size: 52pt;
    }

    .carousel-control-next, .carousel-control-prev {
        display: flex !important;
        width: fit-content;
        padding-left: var(--padding);
        padding-right: var(--padding);
    }

    .section-body {
        padding-top: 4rem;
        padding-left: 5rem;
        padding-bottom: 4rem;
        text-align: start;
    }

    .section-group {
        width: 60%;
    }


    .section-header {
        font-size: 36pt;
    }

    .subsection-header {
        font-size: 36pt;
    }
    
    .subsection-text {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    .section-img {
        height: 100%;
    }

    .line-divider {
        width: 5rem;
        margin-left: 0;
    }

    .line-divider-large {
        display: none;
    }

    .card-lg {
        padding: 6rem;
        border-width: 1px;
        border-color: grey;
        border-radius: 4px;
        background-color: #000000bf;
        color: white;
    }

    
    .value-section {
        text-align: start;
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }

    .value-group {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .value-group >:not(:last-child) {
        margin-bottom: 1rem;
    }

    .value-group .icon {
        width: 52px;
        height: auto;
    }

    .value-group .title {
        font-size: 16pt;
        font-weight: 700;
        letter-spacing: normal;
    }

    .value-group .text {
        font-size: 16pt;
        font-weight: 300;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .client-card-wrapper {
        justify-content: center;
    }

    .client-card {
        margin-right: 4rem;
    }
    
    .card-img {
        height: 20rem;
    }

    footer .logo {
        display: block;
        width: 160px;
        height: auto;
        margin-bottom: 4rem;
    }

    .content-wrapper {
        justify-content: space-between;
        text-align: start;
    }

    .co-info-header {
        font-size: 16pt;
    }

    .co-info-subheader {
        margin-bottom: 0.3rem;
    }

    .spur {
        font-size: 14pt;
    }

    .social-media {
        justify-content: start;
    }

    .social-media-item:not(:last-child) {
        margin-right: 0.8rem;
    }

    .social-media-item .icon {
        width: 40px;
        height: auto;
    }

}