
/* Medium devices optimized */

/* #TODO implementation required */

@media (min-width: 768px) and (max-width: 992px) {

    header {
        padding-top: 0;
    }

    .p-lg-6 {
        padding: 4rem 6rem !important;
    }

    footer .container-sm>* {
        margin-left: 8rem !important;
        margin-right: 8rem !important;
    }

    .navbar {
        position: fixed;
    }
    
    .navbar-dark {
        background-color: black;
        opacity: 0.70;
    }

    .nav-item .nav-link {
        font-size: 16pt;
        font-weight: 500;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .sidenav {
        color: rgba(255, 255, 255, 0.45);
        padding-top: 1.5rem;
    }

    .sidenav .nav-close {
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        right: 3.5rem;
    }
    
    .side-navbar {
        padding-top: 6rem;
        padding-left: 3.75rem;
    }

    .sidenav .btn-contact .ic {
        width: 56px;
        height: 56px;
    }

    .container-lg {
        padding: 1rem 3rem;
    }

    .carousel-item {
        height: 36rem;
    }

    .carousel-body {
        position: relative;
        top: 35%;
        padding-left: 10rem;
        padding-right: 10rem;
        text-align: center;
    }

    .intro-text {
        text-align: center;
        font-size: 38pt;
        padding-bottom: 3rem !important;
    }

    .btn {
        font-size: 14pt;
    }

    .carousel-control-next, .carousel-control-prev {
        display: flex !important;
        width: fit-content;
        padding-left: var(--padding);
        padding-right: var(--padding);
    }

    .section-img {
        height: 35rem;
    }

    .section-body {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .section-header {
        font-size: 30pt;
    }

    .subsection-header {
        font-size: 30pt;
    }

    .subsection-text {
        font-size: 14pt;
    }

    .line-divider-large {
        display: none;
    }

    .card-lg {
        padding: 6rem;
        border-width: 1px;
        border-color: grey;
        border-radius: 4px;
        background-color: #000000bf;
        color: white;
    }

    .foreground {
        justify-content: space-evenly;
    }
    
    .value-section {
        text-align: center;
        padding: 6rem !important;
    }

    .value-group {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .value-group >:not(:last-child) {
        margin-bottom: 1rem;
    }

    .value-group .icon {
        width: 52px;
        height: auto;
    }

    .value-group .title {
        font-size: 16pt;
        font-weight: 700;
        letter-spacing: normal;
    }

    .value-group .text {
        font-size: 14pt;
        font-weight: 300;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .client-card-wrapper {
        justify-content: space-between;
    }

    .client-card {
        margin-right: 0rem;
    }
    
    .card-img {
        height: 20rem;
    }

    /* footer .logo {
        display: block;
        width: 160px;
        height: auto;
        margin-bottom: 4rem;
    }

    .content-wrapper {
        justify-content: space-between;
        text-align: start;
    } */

    .co-info-header {
        font-size: 16pt;
    }

    .co-info-subheader {
        margin-bottom: 0.3rem;
    }

    .spur {
        font-size: 14pt;
    }

    .social-media {
        justify-content: center;
    }

    /* .social-media-item:not(:last-child) {
        margin-right: 0.8rem;
    } */

    .social-media-item .icon {
        width: 40px;
        height: auto;
    }

    .retracted {
        opacity: 0.95;

        .container-lg {
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
        }

        .navbar-brand .logo {
            width: 6rem;
        }

        .ic-nav {
            width: 24px;
            height: 24px;
        }
    }

}